<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Go template</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</head>
<body>
    <main  class="container">
        <h2 class="col s12 center-align"> Hello!</h2>
        <div class="carousel">
             {{ range $index, $user := .}}
            <div class="carousel-item" >
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Hi {{upper $user.Name}}</span>
                      <p>userID: {{$index}}</p>
                      <p>Favorite Food: {{$user.FavFood}} <br /> 
                        Fun Fact: {{$user.FunFact}}
                    </p>
                    </div>
                  </div>
            </div>
            {{end}}
        </div>
    </main>
    <script>
        window.onload = (event) => {
            M.AutoInit();
         };
     </script>
</body>
</html>