<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Go template</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</head>
<body>
    <main  class="container">
        <h2 class="col s12 center-text"> Hello!</h2>
        <div class="carousel">
             
            <div class="carousel-item" >
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Hi lily</span>
                      <p>userID: 0</p>
                      <p>Favorite Food: Chicken stew
 <br /> 
                        Fun Fact: Loves swing dancing

                    </p>
                    </div>
                  </div>
            </div>
            
            <div class="carousel-item" >
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Hi aiOne</span>
                      <p>userID: 1</p>
                      <p>Favorite Food: good bytes ;) <br /> 
                        Fun Fact: I wont take over the world
                    </p>
                    </div>
                  </div>
            </div>
            
            <div class="carousel-item" >
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Hi Mathis the dog</span>
                      <p>userID: 2</p>
                      <p>Favorite Food: Turkey <br /> 
                        Fun Fact: I guide the blind.
                    </p>
                    </div>
                  </div>
            </div>
            
            <div class="carousel-item" >
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Hi The Blob</span>
                      <p>userID: 3</p>
                      <p>Favorite Food: raspberry <br /> 
                        Fun Fact: I play trumpet and swing dance!
                    </p>
                    </div>
                  </div>
            </div>
            
        </div>
    </main>
    <script>
        window.onload = (event) => {
            M.AutoInit();
         };
     </script>
</body>
</html>